infra/data/step_function_definition.json
{
  "StartAt": "GetCharacters",
  "States": {
    "GetCharacters": {
      "Type": "Task",
      "Resource": "${lambda_arn}",
      "Next": "WaitForRateLimit"
    },
    "LoopFeedsChoice": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.characters",
        "NumericEquals": -1,
        "Next": "End"
      }],
      "Default": "WaitForRateLimit"
    },
    "WaitForRateLimit": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "GetCharacters"
    },
    "End": {
      "Type": "Pass",
      "Result": "All characters have been processed",
      "End": true
    }
  }
}
